Ai/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/marshal.dll
Ai/bin
Ai/MNIST/DataSetMNIST/train-labels.idx1-ubyte
*idx1-ubyte
Ai/obj
Ai/Resources
*plist
*xml
*csproj
Ai/MNIST/DataBase
Ai/MNIST/DataSetMNIST
Ai/Platforms/Windows/app.manifest
Ai/Properties/launchSettings.json
Ai/Platforms/Windows/Package.appxmanifest
Ai.sln
Ai\MNIST